@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .shadow-glass {
    box-shadow: rgba(255, 255, 255, 0.12) 1px 1px 1px 0px inset,
      rgba(255, 255, 255, 0.02) -1px -1px 1px 0px inset;
  }
  .shadow-glass:hover {
    box-shadow: rgba(255, 255, 255, 0.2) 1px 1px 1px 0px inset,
      rgba(255, 255, 255, 0.05) -1px -1px 1px 0px inset;
  }
}

body {
  touch-action: none;
}
